body{
    font-family: montserrat;
}

li{
    list-style: none;
}

.btn{
    font-size: 13px;
    border-radius: 0;
}

ol,ul{
    padding: 0 0;
    margin: 0 0;
}

.input-feilds{
    display: flex;
}

.input-feilds input[type='text'],
.input-feilds select{
    width: 100%;
    padding: 10px 12px;
    min-height: 50px;
}

.form-wrapper{
    padding: 50px 0;
}

.title{
    text-transform: uppercase;
    background: #ccc;
    padding: 18px 0;
}
.custom-btn{
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 12px 13px;
    margin: 0 5px;
    text-transform: uppercase;
    position: relative;
    background: transparent;
    transition: 0.3s;
}
.custom-btn::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 0;
    transition: 0.3s;
}
.custom-btn:hover{
    color: #fff;
}

.custom-btn:hover::before{
    width: 100%;
}

.input-col-4,
.input-col-6,
.input-col-12{
    padding: 0 5px;
    margin-bottom: 10px;
}

.input-col-12{
    width: 100%;
}

.input-col-4{
    width: 33.3%;
    box-sizing: border-box;
    padding: 0 5px;
}
.input-col-6{
    width: 50%;
}

.checkboxes{
    display: flex;
}

.checkboxes label{
    min-height: 50px;
    margin: 0;
    border: 1px solid #ccc;
    color: black;
    font-size: 22px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.checkboxes label:first-child{
    margin-right: 5px;
}
.checkboxes label:last-child{
    margin-left: 5px;
}

label.checked{
    background: #000;
    color: #ccc;
    border: #000;
}

.checkboxes label input{
    display: none;
}
.is-danger{
    border-color: red;
}

.file-upload{
    position: relative;
}
.file-upload img{
    position: absolute;
    width: 107px;
    height: 81px;
    top: 3px;
    left: 4px;
    object-fit: cover;
}

.image-upload-wrap {
    border: 4px dashed #ccc;
    position: relative;
    padding: 20px 10px 19px;
    text-align: center;
}

input[type='file']{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    left: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}

.header-elements{
    display: flex;
    justify-content: space-between;
    padding: 60px 0 0;
}

.search-box{
    position: relative;
    display: inline-block
}
.search-box input{
    padding: 0 7px;
}

.search-box i{
    position: absolute;
    right: 6px;
    top: 5px;
    color: #cacaca;
    font-size: 18px;
}


.search-box ::-webkit-input-placeholder { /* Edge */
    color: #969696;
    font-weight: 500;
    font-size: 13px;
}
  
.search-box :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #969696;
    font-weight: 500;
    font-size: 13px;
}
  
.search-box ::placeholder {
    color: #969696;
    font-weight: 500;
    font-size: 13px;
}
/* table css */

  
.wrapper {
    margin: 0 auto;
    padding: 20px 0;
}
.page-link{
    box-shadow: none !important;
}
.cell img{
    width: 60px;
    height: 60px;
    border-radius: 4px;
    border: 1px solid #cacaca;
    display: inline-block;
}
.wrapper  .table {
    margin: 0 0 20px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
  }
  @media screen and (max-width: 580px) {
    .wrapper .table {
      display: block;
    }
  }
  
  .wrapper  .row {
    display: table-row;
    background: #f6f6f6;
  }
  .wrapper  .row:nth-of-type(odd) {
    background: #e9e9e9;
  }
  .wrapper  .row.header {
    font-weight: 900;
    color: #ffffff;
    background: #000;
  }
  .wrapper  .row.green {
    background: #27ae60;
  }
  .wrapper  .row.blue {
    background: #2980b9;
  }
  @media screen and (max-width: 580px) {
    .wrapper .row {
      padding: 14px 0 7px;
      display: block;
    }
    .wrapper    .row.header {
      padding: 0;
      height: 6px;
    }
    .wrapper    .row.header .cell {
      display: none;
    }
    .wrapper    .row .cell {
      margin-bottom: 10px;
    }
    .wrapper   .row .cell:before {
      margin-bottom: 3px;
      content: attr(data-title);
      min-width: 98px;
      font-size: 10px;
      line-height: 10px;
      font-weight: bold;
      text-transform: uppercase;
      color: #969696;
      display: block;
    }
  }
  
  .wrapper  .cell {
    padding: 6px 12px;
    display: table-cell;
  }
  .wrapper .row.header .cell{
      font-weight: 500;
  }
  .row .cell{

  }
  
  @media screen and (max-width: 580px) {
    .wrapper .cell {
      padding: 2px 16px;
      display: block;
    }
  }
  